<footer id="wt-footer" class="wt-footer wt-haslayout">
				<div class="wt-footerholder wt-haslayout">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-6 col-lg-6">
								<div class="wt-footerlogohold">
									<strong class="wt-logo"><a [routerLink]="['index']"><img src="./assets/images/flogo.png" alt="company logo here"></a></strong>
									<div class="wt-description">
										<p>Dotem eiusmod tempor incune utnaem labore etdolore maigna aliqua enim poskina ilukita ylokem lokateise ination voluptate velit esse cillum dolore eu fugiat nulla pariatur lokaim urianewce <a [routerLink]="['javascript']">more...</a></p>
									</div>
									<ul class="wt-socialiconssimple wt-socialiconfooter">
										<li class="wt-facebook"><a [routerLink]="['javascript']"><i class="fa fa-facebook-f"></i></a></li>
										<li class="wt-twitter"><a [routerLink]="['javascript']"><i class="fab fa-twitter"></i></a></li>
										<li class="wt-youtube"><a [routerLink]="['javascript']"><i class="fab fa-youtube"></i></a></li>
										<li class="wt-instagram"><a [routerLink]="['javascript']"><i class="fab fa-instagram"></i></a></li>
										<li class="wt-googleplus"><a [routerLink]="['javascript']"><i class="fab fa-google-plus-g"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-3 col-lg-3">
								<div class="wt-footercol wt-widgetcompany">
									<div class="wt-fwidgettitle">
										<h3>Company</h3>
									</div>
									<ul class="wt-fwidgetcontent">
										<li><a [routerLink]="['about']">About Us</a></li>
										<li><a [routerLink]="['howitworks']">How It Works</a></li>
										<li><a [routerLink]="['javascript']">Careers</a></li>
										<li><a [routerLink]="['javascript']">Terms &amp; Conditions</a></li>
										<li><a [routerLink]="['javascript']">Trust &amp; Safety</a></li>
										<li class="wt-viewmore"><a [routerLink]="['javascript']">+ View All</a></li>
									</ul>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-3 col-lg-3">
								<div class="wt-footercol wt-widgetexplore">
									<div class="wt-fwidgettitle">
										<h3>Explore More</h3>
									</div>
									<ul class="wt-fwidgetcontent">
										<li><a [routerLink]="['javascript']">Freelancers in USA</a></li>
										<li><a [routerLink]="['javascript']">Freelancers in Canada</a></li>
										<li><a [routerLink]="['javascript']">Freelancers in Australia</a></li>
										<li><a [routerLink]="['javascript']">Jobs in USA</a></li>
										<li><a [routerLink]="['javascript']">Find Jobs</a></li>
										<li class="wt-viewmore"><a [routerLink]="['javascript']">+ View All</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="wt-haslayout wt-joininfo">
					<div class="container">
						<div class="row justify-content-md-center">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 push-lg-1">
								<div class="wt-companyinfo">
									<span><a [routerLink]="['javascript']">New @ Worktern?</a> Dotem eiusmod tempor incune utnaem labore etdolore.</span>
								</div>
								<div class="wt-fbtnarea">
									<a [routerLink]="['javascript']" class="wt-btn">Join Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="wt-haslayout wt-footerbottom">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<p class="wt-copyrights"><span>Worktern.</span> © 2018 All Rights Reserved.</p>
								<nav class="wt-addnav">
									<ul>
										<li><a [routerLink]="['javascript']">News</a></li>
										<li><a [routerLink]="['javascript']">Terms &amp; Conditions</a></li>
										<li><a [routerLink]="['javascript']">Privacy Policy</a></li>
										<li><a [routerLink]="['javascript']">Career</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</footer>
