<!--Inner Home Banner Start-->
<div class="wt-haslayout wt-innerbannerholder">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                <div class="wt-innerbannercontent">
                <div class="wt-title"><h2>Join Now For FREE</h2></div>
                <ol class="wt-breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="wt-active">Join Now</li>
                </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Inner Home End-->
<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
    <!--Register Form Start-->
    <div class="wt-haslayout wt-main-section">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-xs-12 col-sm-12 col-md-10 push-md-1 col-lg-8 push-lg-2">
                    <div class="wt-registerformhold">
                        <div class="wt-registerformmain">
                            <div class="wt-registerhead">
                                <div class="wt-title">
                                    <h3>Join For a Good Start</h3>
                                </div>
                                <div class="wt-description">
                                    <p>Consectetur adipisicing elit sed dotem eiusmod tempor incune utnaem labore etdolore maigna aliqua enim poskina</p>
                                </div>
                            </div>
                            <div class="wt-joinforms">
                                <ul class="wt-joinsteps">
                                    <li class="wt-done-next"><a href="javascrip:void(0);"><i class="fa fa-check"></i></a></li>
                                    <li class="wt-active"><a href="javascrip:void(0);">02</a></li>
                                    <li><a href="javascrip:void(0);">03</a></li>
                                    <li><a href="javascrip:void(0);">04</a></li>
                                </ul>
                                <form class="wt-formtheme wt-formregister">
                                    <fieldset class="wt-registerformgroup">
                                        <div class="form-group">
                                            <span class="wt-select">
                                                <select class="chosen-select locations" data-placeholder="Country" name="locations">
                                                    <option value="Country">United State</option>
                                                    <option value="Country1">Canada</option>
                                                    <option value="Country2">England</option>
                                                    <option value="Country3">Switzerland</option>
                                                    <option value="Country4">New Zealand</option>
                                                </select>
                                            </span>
                                        </div>
                                        <div class="form-group form-group-half">
                                            <input type="password" name="password" class="form-control" placeholder="Password*">
                                        </div>
                                        <div class="form-group form-group-half">
                                            <input type="password" name="password" class="form-control" placeholder="Retype Password*">
                                        </div>
                                    </fieldset>
                                    <fieldset class="wt-formregisterstart">
                                        <div class="wt-title wt-formtitle"><h4>Start as :</h4></div>
                                        <ul class="wt-accordionhold wt-formaccordionhold accordion">
                                            <li>
                                                <div class="wt-accordiontitle" id="headingOne" data-toggle="collapse" data-target="#collapseOne">
                                                    <span class="wt-radio">
                                                        <input id="wt-company" type="radio" name="logged" value="company" checked>
                                                        <label for="wt-company">Company<span> (Signup as company/service seeker &amp; post jobs)</span></label>
                                                    </span>
                                                </div>
                                                <div class="wt-accordiondetails collapse show" id="collapseOne" aria-labelledby="headingOne">
                                                    <div class="wt-radioboxholder">
                                                        <div class="wt-title">
                                                            <h4>No. of employees you have</h4>
                                                        </div>
                                                        <span class="wt-radio">
                                                            <input id="wt-just" type="radio" name="employees" value="company" checked>
                                                            <label for="wt-just">It's just me</label>
                                                        </span>
                                                        <span class="wt-radio">
                                                            <input id="wt-employees" type="radio" name="employees" value="company">
                                                            <label for="wt-employees">2 - 9 employees</label>
                                                        </span>
                                                        <span class="wt-radio">
                                                            <input id="wt-employees1" type="radio" name="employees" value="company">
                                                            <label for="wt-employees1">10 - 99 employees</label>
                                                        </span>
                                                        <span class="wt-radio">
                                                            <input id="wt-employees2" type="radio" name="employees" value="company">
                                                            <label for="wt-employees2">100 - 499 employees</label>
                                                        </span>
                                                        <span class="wt-radio">
                                                            <input id="wt-employees3" type="radio" name="employees" value="company">
                                                            <label for="wt-employees3">500 - 1000 employees</label>
                                                        </span>
                                                        <span class="wt-radio">
                                                            <input id="wt-employees4" type="radio" name="employees" value="company">
                                                            <label for="wt-employees4">More than 1000 employees</label>
                                                        </span>
                                                    </div>
                                                    <div class="wt-radioboxholder">
                                                        <div class="wt-title">
                                                            <h4>Your Department?</h4>
                                                        </div>
                                                        <span class="wt-radio">
                                                            <input id="wt-department" type="radio" name="department" value="department" checked>
                                                            <label for="wt-department">Customer Service or Operations</label>
                                                        </span>
                                                        <span class="wt-radio">
                                                            <input id="wt-department1" type="radio" name="department" value="department">
                                                            <label for="wt-department1">Finance or Legal</label>
                                                        </span>
                                                        <span class="wt-radio">
                                                            <input id="wt-department2" type="radio" name="department" value="department">
                                                            <label for="wt-department2">Engineering or Product Management</label>
                                                        </span>
                                                        <span class="wt-radio">
                                                            <input id="wt-department3" type="radio" name="department" value="department">
                                                            <label for="wt-department3">Marketing or Sales</label>
                                                        </span>
                                                        <span class="wt-radio">
                                                            <input id="wt-department4" type="radio" name="department" value="department">
                                                            <label for="wt-department4">Human Resources</label>
                                                        </span>
                                                        <span class="wt-radio">
                                                            <input id="wt-department5" type="radio" name="department" value="department">
                                                            <label for="wt-department5">Other</label>
                                                        </span>
                                                    </div>
                                                    <div class="form-group wt-othersearch d-none">
                                                        <input type="text" name="fullname" class="form-control" placeholder="Enter Your Department">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="wt-accordiontitle">
                                                    <span class="wt-radio">
                                                        <input id="wt-freelancer" type="radio" name="logged" value="company">
                                                        <label for="wt-freelancer">Freelancer <span>(Signup as freelancer &amp; get hired)</span></label>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </fieldset>
                                    <fieldset class="wt-termsconditions">
                                        <div class="wt-checkboxholder">
                                            <span class="wt-checkbox">
                                                <input id="termsconditions" type="checkbox" name="termsconditions" value="termsconditions" checked>
                                                <label for="termsconditions"><span>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis.</span></label>
                                            </span>
                                            <span class="wt-checkbox">
                                                <input id="termsconditions2" type="checkbox" name="termsconditions" value="termsconditions">
                                                <label for="termsconditions2"><span>Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse<a href="javascrip:void(0);"> Terms &amp; Conditions</a></span></label>
                                            </span>
                                            <a href="register-03.html" class="wt-btn">Continue</a>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="wt-registerformfooter">
                            <span>Already Have an Account? <a href="javascript:void(0);">Login Now</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Register Form End-->
</main>
<!--Main End-->