<!--Inner Home Banner Start-->
<div class="wt-haslayout wt-innerbannerholder">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                <div class="wt-innerbannercontent">
                <div class="wt-title"><h2>Company Detail</h2></div>
                <ol class="wt-breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="companygrid.html">Company Grid</a></li>
                    <li class="wt-active">Comapny Detail</li>
                </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Inner Home End-->
<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
    <div class="wt-haslayout wt-main-section">
        <!-- User Listing Start-->
        <div class="wt-haslayout">
            <div class="container">
                <div class="row">
                    <div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
                            <div class="wt-comsingleimg">
                                <figure><img src="./assets/images/bannerimg/banner.jpg" alt="img description"></figure>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 float-left">
                            <aside id="wt-sidebar" class="wt-sidebar">
                                <div class="wt-proposalsr wt-proposalsrvtwo">
                                    <div class="wt-widgetcontent wt-companysinfo">
                                        <figure><img src="./assets/images/company/img-01.png" alt="img description"></figure>
                                        <div class="wt-title">
                                            <a href="javascript:void(0);"><i class="fa fa-check-circle"></i> Verified Company</a>
                                            <h2>Angry Creative Studio</h2>
                                        </div>
                                        
                                    </div>
                                    <div class="tg-authorcodescan">
                                        <figure class="tg-qrcodeimg">
                                            <img src="./assets/images/qrcode.png" alt="img description">
                                        </figure>
                                        <div class="tg-qrcodedetail">
                                            <span class="lnr lnr-laptop-phone"></span>
                                            <div class="tg-qrcodefeat">
                                                <h3>Scan with your <span>Smart Phone </span> To Get It Handy.</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wt-clicksavearea">
                                        <span>Job ID: tQu5DW9F2G</span>
                                        <a href="javascrip:void(0);" class="wt-clicksavebtn"><i class="far fa-heart"></i> Click to Follow</a>
                                    </div>
                                </div>
                                <div class="wt-widget">
                                    <div class="wt-widgettitle">
                                        <h2>Company Followers</h2>
                                    </div>
                                    <div class="wt-widgetcontent wt-comfollowers wt-verticalscrollbar">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <span><img src="./assets/images/followers/img-01.jpg" alt="img description"></span>
                                                    <span>Ramona Acedo</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <span><img src="./assets/images/followers/img-02.jpg" alt="img description"></span>
                                                    <span>Bruna Perera</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <span><img src="./assets/images/followers/img-03.jpg" alt="img description"></span>
                                                    <span>Sophie Roman</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <span><img src="./assets/images/followers/img-04.jpg" alt="img description"></span>
                                                    <span>Danica Letourneau</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <span><img src="./assets/images/followers/img-05.jpg" alt="img description"></span>
                                                    <span>Arturo Doolin</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <span><img src="./assets/images/followers/img-06.jpg" alt="img description"></span>
                                                    <span>Dominique Llanos</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <span><img src="./assets/images/followers/img-07.jpg" alt="img description"></span>
                                                    <span>Fannie Touchet</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <span><img src="./assets/images/followers/img-01.jpg" alt="img description"></span>
                                                    <span>Ramona Acedo</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <span><img src="./assets/images/followers/img-02.jpg" alt="img description"></span>
                                                    <span>Danica Letourneau</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="wt-widget wt-sharejob">
                                    <div class="wt-widgettitle">
                                        <h2>Share This Company</h2>
                                    </div>
                                    <div class="wt-widgetcontent">
                                        <ul class="wt-socialiconssimple">
                                            <li class="wt-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i>Share on Facebook</a></li>
                                            <li class="wt-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i>Share on Twitter</a></li>
                                            <li class="wt-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i>Share on Linkedin</a></li>
                                            <li class="wt-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i>Share on Google Plus</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="wt-widget wt-reportjob">
                                    <div class="wt-widgettitle">
                                        <h2>Report This Company</h2>
                                    </div>
                                    <div class="wt-widgetcontent">
                                        <form class="wt-formtheme wt-formreport">
                                            <fieldset>
                                                <div class="form-group">
                                                    <span class="wt-select">
                                                        <select>
                                                            <option>Select Reason</option>
                                                        </select>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="form-control" placeholder="Description"></textarea>
                                                </div>
                                                <div class="form-group wt-btnarea">
                                                    <a href="javascrip:void(0);" class="wt-btn">Submit</a>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 float-left">
                            <div class="wt-userlistingholder wt-haslayout">
                                <div class="wt-comcontent">
                                    <div class="wt-title">
                                        <h3>About “Angry Crative Studio”</h3>
                                    </div>
                                    <div class="wt-description">
                                        <p>Excepteur sint occaecat cupidatat non proident, saeunt in culpa qui officia deserunt mollit anim laborum. Seden utem perspiciatis undesieu omnis voluptatem accusantium doque laudantium, totam rem aiam eaqueiu ipsa quae ab illoion inventore veritatisetm quasitea architecto beataea dictaed quia couuntur magni dolores eos aquist ratione vtatem seque nesnt. Neque porro quamest quioremas ipsum quiatem dolor sitem ameteism conctetur adipisci velit sedate quianon.</p>
                                        <p>Laborum sed ut perspiciatis unde omnis iste natus error sitems voluptatem accusantium doloremque laudantium, totam rem aiam eaque ipsa quae ab illo inventore veritatis etna quasi architecto beatae vitae dictation explicabo. nemo enim ipsam fugit.</p>	
                                    </div>
                                </div>
                                <div class="wt-userlistinghold wt-featured wt-userlistingholdvtwo">
                                <span class="wt-featuredtag"><img src="./assets/images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                <div class="wt-userlistingcontent">
                                    <div class="wt-contenthead">
                                        <div class="wt-title">
                                            <a href="usersingle.html"><i class="fa fa-check-circle"></i> Light Bulb Association</a>
                                            <h2>I want some customization and installation</h2>
                                        </div>
                                        <div class="wt-description">
                                            <p>Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit inati voluptate velit esse cillum dolore eutates fugiat nulla pariatur sunt in culpa asequi officia deserunt mollit anim id est laborum ut perspiciatis...</p>
                                        </div>
                                        <div class="wt-tag wt-widgettag">
                                            <a href="javascript:void(0);">PHP</a>
                                            <a href="javascript:void(0);">HTML</a>
                                            <a href="javascript:void(0);">JQuery</a>
                                        </div>
                                    </div>
                                    <div class="wt-viewjobholder">
                                        <ul>
                                            <li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i>Professional</span></li>
                                            <li><span><em><img src="./assets/images/flag/img-04.png" alt="img description"></em>England</span></li>
                                            <li><span><i class="far fa-folder wt-viewjobfolder"></i>Type: Per Hour</span></li>
                                            <li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: 03 Months</span></li>
                                            <li><span><i class="fa fa-tag wt-viewjobtag"></i>Job ID: gy3yV2Vm5u</span></li>
                                            <li><a href="javascript:void(0);" class="wt-clicklike wt-clicksave"><i class="fa fa-heart"></i> Save</a></li>
                                            <li class="wt-btnarea"><a href="userlisting.html" class="wt-btn">View Job</a></li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                                <div class="wt-userlistinghold wt-featured wt-userlistingholdvtwo">
                                    <span class="wt-featuredtag wt-featuredtagcolor1"><img src="./assets/images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Point Trend Studio</a>
                                                <h2>Website changes in HTML &amp; PHP</h2>
                                            </div>
                                            <div class="wt-description">
                                                <p>Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit inati voluptate velit esse cillum dolore eutates fugiat nulla pariatur sunt in culpa asequi officia deserunt mollit anim id est laborum ut perspiciatis...</p>
                                            </div>
                                            <div class="wt-tag wt-widgettag">
                                                <a href="javascript:void(0);">PHP</a>
                                                <a href="javascript:void(0);">HTML</a>
                                                <a href="javascript:void(0);">Team Management</a>
                                                <a href="javascript:void(0);">JQuery</a>
                                            </div>
                                        </div>
                                        <div class="wt-viewjobholder">
                                            <ul>
                                                <li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i>Professional</span></li>
                                                <li><span><em><img src="./assets/images/flag/img-02.png" alt="img description"></em>United States</span></li>
                                                <li><span><i class="far fa-folder wt-viewjobfolder"></i>Type: Per Fixed</span></li>
                                                <li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: 15 Days</span></li>
                                                <li><span><i class="fa fa-tag wt-viewjobtag"></i>Job ID: 5aUQgM2ZbW</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicklike"><i class="fa fa-heart"></i> Click to Save</a></li>
                                                <li class="wt-btnarea"><a href="userlisting.html" class="wt-btn">View Job</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold wt-featured wt-userlistingholdvtwo">
                                    <span class="wt-featuredtag wt-featuredtagcolor2"><img src="./assets/images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Vertex Association</a>
                                                <h2>Need Amazon MWS handshaking</h2>
                                            </div>
                                            <div class="wt-description">
                                                <p>Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit inati voluptate velit esse cillum dolore eutates fugiat nulla pariatur sunt in culpa asequi officia deserunt mollit anim id est laborum ut perspiciatis...</p>
                                            </div>
                                            <div class="wt-tag wt-widgettag">
                                                <a href="javascript:void(0);">PHP</a>
                                                <a href="javascript:void(0);">HTML</a>
                                                <a href="javascript:void(0);">JQuery</a>
                                            </div>
                                        </div>
                                        <div class="wt-viewjobholder">
                                            <ul>
                                                <li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i>Professional</span></li>
                                                <li><span><em><img src="./assets/images/flag/img-05.png" alt="img description"></em>United Emirates</span></li>
                                                <li><span><i class="far fa-folder wt-viewjobfolder"></i>Type: Per Hour</span></li>
                                                <li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: 03 Months</span></li>
                                                <li><span><i class="fa fa-tag wt-viewjobtag"></i>Job ID: gy3yV2Vm5u</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicklike"><i class="fa fa-heart"></i> Click to Save</a></li>
                                                <li class="wt-btnarea"><a href="userlisting.html" class="wt-btn">View Job</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold wt-userlistingholdvtwo">
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Traprator House</a>
                                                <h2>Form-Slider Plugin for Wordpress</h2>
                                            </div>
                                            <div class="wt-description">
                                                <p>Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit inati voluptate velit esse cillum dolore eutates fugiat nulla pariatur sunt in culpa asequi officia deserunt mollit anim id est laborum ut perspiciatis...</p>
                                            </div>
                                            <div class="wt-tag wt-widgettag">
                                                <a href="javascript:void(0);">PHP</a>
                                                <a href="javascript:void(0);">HTML</a>
                                                <a href="javascript:void(0);">JQuery</a>
                                            </div>
                                        </div>
                                        <div class="wt-viewjobholder">
                                            <ul>
                                                <li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i>Professional</span></li>
                                                <li><span><em><img src="./assets/images/flag/img-01.png" alt="img description"></em>United Emirates</span></li>
                                                <li><span><i class="far fa-folder wt-viewjobfolder"></i>Type: Per Hour</span></li>
                                                <li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: 03 Months</span></li>
                                                <li><span><i class="fa fa-tag wt-viewjobtag"></i>Job ID: gy3yV2Vm5u</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicklike"><i class="fa fa-heart"></i> Click to Save</a></li>
                                                <li class="wt-btnarea"><a href="userlisting.html" class="wt-btn">View Job</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold wt-userlistingholdvtwo">
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Alfredo Bossard
                                                </a>
                                                <h2>Classifieds Posting, Data Entry, Typing</h2>
                                            </div>
                                            <div class="wt-description">
                                                <p>Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit inati voluptate velit esse cillum dolore eutates fugiat nulla pariatur sunt in culpa asequi officia deserunt mollit anim id est laborum ut perspiciatis...</p>
                                            </div>
                                            <div class="wt-tag wt-widgettag">
                                                <a href="javascript:void(0);">PHP</a>
                                                <a href="javascript:void(0);">HTML</a>
                                                <a href="javascript:void(0);">JQuery</a>
                                            </div>
                                        </div>
                                        <div class="wt-viewjobholder">
                                            <ul>
                                                <li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i>Intermediate</span></li>
                                                <li><span><em><img src="./assets/images/flag/img-03.png" alt="img description"></em>Canada</span></li>
                                                <li><span><i class="far fa-folder wt-viewjobfolder"></i>Type: Per Fixed</span></li>
                                                <li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: 15 Days</span></li>
                                                <li><span><i class="fa fa-tag wt-viewjobtag"></i>Job ID: bsf3NAxTMj</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicklike wt-clicksave"><i class="fa fa-heart"></i> Save</a></li>
                                                <li class="wt-btnarea"><a href="userlisting.html" class="wt-btn">View Job</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold wt-userlistingholdvtwo">
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Web Revolutions</a>
                                                <h2>Develop a transportation company website</h2>
                                            </div>
                                            <div class="wt-description">
                                                <p>Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit inati voluptate velit esse cillum dolore eutates fugiat nulla pariatur sunt in culpa asequi officia deserunt mollit anim id est laborum ut perspiciatis...</p>
                                            </div>
                                            <div class="wt-tag wt-widgettag">
                                                <a href="javascript:void(0);">PHP</a>
                                                <a href="javascript:void(0);">HTML</a>
                                                <a href="javascript:void(0);">Team Management</a>
                                            </div>
                                        </div>
                                        <div class="wt-viewjobholder">
                                            <ul>
                                                <li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i>Professional</span></li>
                                                <li><span><em><img src="./assets/images/flag/img-02.png" alt="img description"></em>United States</span></li>
                                                <li><span><i class="far fa-folder wt-viewjobfolder"></i>Type: Per Fixed</span></li>
                                                <li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: 15 Days</span></li>
                                                <li><span><i class="fa fa-tag wt-viewjobtag"></i>Job ID: 5aUQgM2ZbW</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicklike"><i class="fa fa-heart"></i> Click to Save</a></li>
                                                <li class="wt-btnarea"><a href="userlisting.html" class="wt-btn">View Job</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-userlistinghold wt-userlistingholdvtwo">
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Alfredo Bossard
                                                </a>
                                                <h2>Designer Finger Change temp to Arabic and install on alloi</h2>
                                            </div>
                                            <div class="wt-description">
                                                <p>Nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit inati voluptate velit esse cillum dolore eutates fugiat nulla pariatur sunt in culpa asequi officia deserunt mollit anim id est laborum ut perspiciatis...</p>
                                            </div>
                                            <div class="wt-tag wt-widgettag">
                                                <a href="javascript:void(0);">PHP</a>
                                                <a href="javascript:void(0);">HTML</a>
                                                <a href="javascript:void(0);">JQuery</a>
                                            </div>
                                        </div>
                                        <div class="wt-viewjobholder">
                                            <ul>
                                                <li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i>Professional</span></li>
                                                <li><span><em><img src="./assets/images/flag/img-01.png" alt="img description"></em>United Emirates</span></li>
                                                <li><span><i class="far fa-folder wt-viewjobfolder"></i>Type: Per Hour</span></li>
                                                <li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: 03 Months</span></li>
                                                <li><span><i class="fa fa-tag wt-viewjobtag"></i>Job ID: gy3yV2Vm5u</span></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-heart"></i> Click to Save</a></li>
                                                <li class="wt-btnarea"><a href="userlisting.html" class="wt-btn">View Job</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <nav class="wt-pagination">
                                    <ul>
                                        <li class="wt-prevpage"><a href="javascrip:void(0);"><i class="lnr lnr-chevron-left"></i></a></li>
                                        <li><a href="javascrip:void(0);">1</a></li>
                                        <li><a href="javascrip:void(0);">2</a></li>
                                        <li><a href="javascrip:void(0);">3</a></li>
                                        <li><a href="javascrip:void(0);">4</a></li>
                                        <li><a href="javascrip:void(0);">...</a></li>
                                        <li><a href="javascrip:void(0);">50</a></li>
                                        <li class="wt-nextpage"><a href="javascrip:void(0);"><i class="lnr lnr-chevron-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- User Listing End-->
    </div>
</main>
<!--Main End-->