<div class="preloader-outer">
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
    </div>
</div>
<!-- Preloader End -->
<!-- Wrapper Start -->
<div id="wt-wrapper" class="wt-wrapper wt-haslayout">
    <!--Main Start-->
    <main id="wt-main" class="wt-main wt-haslayout">
        <!--Coming Soon Start -->
        <div class="wt-haslayout wt-main-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="wt-comingsoon-holder wt-haslayout">
                            <div class="wt-comingsoon-aligncenter">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 float-left">
                                    <div class="wt-comingsoon-content">
                                        <strong class="wt-comingsoon-logo"><img src="./assets/images/comingsoon/logo.png" alt="img description"></strong>
                                        <div class="wt-title">
                                            <h2><span>Stay Tuned We’re</span> Launching Very Soon!</h2>
                                        </div>
                                        <div class="wt-description">
                                            <p>Consectetur adipisicing elit sed dotem eiusmod tempor incuntes ut labore etdolore maigna aliqua enim.</p>
                                        </div>
                                        <ul id="wt-comming-sooncounter" class="wt-comming-sooncounter">
                                            <li class="wt-counterbox">
                                                <div id="days" class="timer_box"></div>
                                            </li>
                                            <li class="wt-counterbox">
                                                <div id="hours" class="timer_box"></div>
                                            </li>
                                            <li class="wt-counterbox">
                                                <div id="minutes" class="timer_box"></div>
                                            </li>
                                            <li class="wt-counterbox">
                                                <div id="seconds" class="timer_box"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 float-left">
                                    <div class="wt-comingsoonimg">
                                        <figure><img src="/assets/images/comingsoon/img-02.png" alt="img description"></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Coming Soon End-->
    </main>