<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout">
    <!--Sidebar Start-->
    <div id="wt-sidebarwrapper" class="wt-sidebarwrapper">
        <div id="wt-btnmenutoggle" class="wt-btnmenutoggle">
            <span class="menu-icon">
                <em></em>
                <em></em>
                <em></em>
            </span>
        </div>
        <div id="wt-verticalscrollbar" class="wt-verticalscrollbar">
            <div class="wt-companysdetails wt-usersidebar">
                <figure class="wt-companysimg">
                    <img src="./assets/images/sidebar/img-01.jpg" alt="img description">
                </figure>
                <div class="wt-companysinfo">
                    <figure><img src="./assets/images/sidebar/img-02.jpg" alt="img description"></figure>
                    <div class="wt-title">
                        <h2><a href="javascript:void(0);"> Louanne Mattioli</a></h2>
                        <span>Amento Tech</span>
                    </div>
                    <div class="wt-btnarea"><a href="dashboard-postjob.html" class="wt-btn">Post a Job</a></div>
                </div>
            </div>
            <nav id="wt-navdashboard" class="wt-navdashboard">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="javascript:void(0);">
                            <i class="ti-dashboard"></i>
                            <span>Insights</span>
                        </a>
                        <ul class="sub-menu">
                            <li><hr><a href="dashboard-insights.html">Insights</a></li>
                            <li><hr><a href="dashboard-insightsuser.html">Insights User</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="dashboard-profile.html">
                            <i class="ti-briefcase"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="javascript:void(0);">
                            <i class="ti-package"></i>
                            <span>All Jobs</span>
                        </a>
                        <ul class="sub-menu">
                            <li><hr><a href="dashboard-completejobs.html">Completed Jobs</a></li>
                            <li><hr><a href="dashboard-canceljobs.html">Cancelled Jobs</a></li>
                            <li><hr><a href="dashboard-ongoingjob.html">Ongoing Jobs</a></li>
                            <li><hr><a href="dashboard-ongoingsingle.html">Ongoing Single</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="dashboard-managejobs.html">
                            <i class="ti-announcement"></i>
                            <span>Manage Jobs</span>
                        </a>
                    </li>
                    <li class="wt-notificationicon menu-item-has-children">
                        <a href="javascript:void(0);">
                            <i class="ti-pencil-alt"></i>
                            <span>Messages</span>
                        </a>
                        <ul class="sub-menu">
                            <li><hr><a href="dashboard-messages.html">Messages</a></li>
                            <li><hr><a href="dashboard-messages2.html">Messages V 2</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="dashboard-saveitems.html">
                            <i class="ti-heart"></i>
                            <span>My Saved Items</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-invocies.html">
                            <i class="ti-file"></i>
                            <span>Invoices</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-category.html">
                            <i class="ti-layers"></i>
                            <span>Category</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-packages.html">
                            <i class="ti-money"></i>
                            <span>Packages</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-proposals.html">
                            <i class="ti-bookmark-alt"></i>
                            <span>Proposals</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-accountsettings.html">
                            <i class="ti-anchor"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li class="wt-active">
                        <a href="dashboard-helpsupport.html">
                            <i class="ti-tag"></i>
                            <span>Help &amp; Support</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="ti-shift-right"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="wt-navdashboard-footer">
                <span>Worktern. © 2019 All Rights Reserved.</span>
            </div>
        </div>
    </div>
    <!--Sidebar Start-->
    <!--Register Form Start-->
    <section class="wt-haslayout wt-dbsectionspace">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-6 float-left">
                <div class="wt-dashboardbox">
                    <div class="wt-dashboardboxtitle wt-titlewithsearch">
                        <h2>Help &amp; Support</h2>
                        <form class="wt-formtheme wt-formsearch">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" name="Search" class="form-control" placeholder="Search Query">
                                    <a href="javascrip:void(0);" class="wt-searchgbtn"><i class="lnr lnr-magnifier"></i></a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="wt-dashboardboxcontent wt-helpsupporthead">
                        <div class="wt-tabscontenttitle">
                            <h2>Account Security &amp; Settings</h2>
                        </div>
                        <div class="wt-helpsupportcontent">
                            <div class="wt-description">
                                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua aut enim ad minim veniamac quis nostrud exercitation ullamco laboris.</p>
                            </div>
                            <ul class="wt-accordionhold accordion">
                                <li>
                                    <div class="wt-accordiontitle collapsed" id="headingtwo2" data-toggle="collapse" data-target="#collapsetwo2">
                                        <span>Ways to work online and earn money?</span>
                                    </div>
                                    <div class="wt-accordiondetails collapse" id="collapsetwo2" aria-labelledby="headingtwo2">
                                        <div class="wt-title">
                                            <h3>Ways to work online and earn money?</h3>
                                        </div>
                                        <div class="wt-description">
                                            <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore eta dolore magnam aliqua. Ut enim ad minim veniam, quis nostrud <a href="javascript:void(0);">exercitation ullamco </a> laboris nisi ut aliquiprex ea commodo consequat eta dolore magna aliqua.</p>
                                        </div>
                                        <div class="wt-likeunlike">
                                            <span>Did you find this useful?</span>
                                            <a href="javascript:void(0);" class="wt-like"><i class="fa fa-thumbs-up"></i></a>
                                            <a href="javascript:void(0);" class="wt-unlike"><i class="fa fa-thumbs-down"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="wt-accordiontitle collapsed" id="headingtwo4" data-toggle="collapse" data-target="#collapsetwo4">
                                        <span>Dolore magna aliqua enim ad minim veniam?</span>
                                    </div>
                                    <div class="wt-accordiondetails collapse show" id="collapsetwo4" aria-labelledby="headingtwo4">
                                        <div class="wt-title">
                                            <h3>Dolore magna aliqua enim ad minim veniam?</h3>
                                        </div>
                                        <div class="wt-description">
                                            <p>
                                                Consectetur adipisicing elit sed aeiusmisuod tempor incididunt labore dolore ma alaeiqua enim ade minim veniam quis nostr xecitation ullamcoaris nisi ut aliquipa extaea coedmmmodo equate irure dolawor in reprehenderit.
                                            </p>
                                        </div>
                                        <div class="wt-likeunlike">
                                            <span>Did you find this useful?</span>
                                            <a href="javascript:void(0);" class="wt-like"><i class="fa fa-thumbs-up"></i></a>
                                            <a href="javascript:void(0);" class="wt-unlike"><i class="fa fa-thumbs-down"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="wt-accordiontitle collapsed" id="headingthree2" data-toggle="collapse" data-target="#collapsethree2">
                                        <span>Eiusmod tempor incididunt ut labore et dolore magna aliqua?</span>
                                    </div>
                                    <div class="wt-accordiondetails collapse" id="collapsethree2" aria-labelledby="headingthree2">
                                        <div class="wt-title">
                                            <h3>Eiusmod tempor incididunt ut labore et dolore magna aliqua?</h3>
                                        </div>
                                        <div class="wt-description">
                                            <p>
                                                Consectetur adipisicing elit sed aeiusmisuod tempor incididunt labore dolore ma alaeiqua enim ade minim veniam quis nostr xecitation ullamcoaris nisi ut aliquipa extaea coedmmmodo equate irure dolawor in reprehenderit.
                                            </p>
                                        </div>
                                        <div class="wt-likeunlike">
                                            <span>Did you find this useful?</span>
                                            <a href="javascript:void(0);" class="wt-like"><i class="fa fa-thumbs-up"></i></a>
                                            <a href="javascript:void(0);" class="wt-unlike"><i class="fa fa-thumbs-down"></i></a>
                                        </div>
                                    </div>
                                </li>



                                <li>
                                    <div class="wt-accordiontitle collapsed" id="headingtwo3" data-toggle="collapse" data-target="#collapsetwo3">
                                        <span>Ways to work online and earn money?</span>
                                    </div>
                                    <div class="wt-accordiondetails collapse" id="collapsetwo3" aria-labelledby="headingtwo3">
                                        <div class="wt-title">
                                            <h3>Ways to work online and earn money?</h3>
                                        </div>
                                        <div class="wt-description">
                                            <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore eta dolore magnam aliqua. Ut enim ad minim veniam, quis nostrud <a href="javascript:void(0);">exercitation ullamco </a> laboris nisi ut aliquiprex ea commodo consequat eta dolore magna aliqua.</p>
                                        </div>
                                        <div class="wt-likeunlike">
                                            <span>Did you find this useful?</span>
                                            <a href="javascript:void(0);" class="wt-like"><i class="fa fa-thumbs-up"></i></a>
                                            <a href="javascript:void(0);" class="wt-unlike"><i class="fa fa-thumbs-down"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="wt-accordiontitle collapsed" id="headingtwo6" data-toggle="collapse" data-target="#collapsetwo6">
                                        <span>Dolore magna aliqua enim ad minim veniam?</span>
                                    </div>
                                    <div class="wt-accordiondetails collapse" id="collapsetwo6" aria-labelledby="headingtwo6">
                                        <div class="wt-title">
                                            <h3>Dolore magna aliqua enim ad minim veniam?</h3>
                                        </div>
                                        <div class="wt-description">
                                            <p>
                                                Consectetur adipisicing elit sed aeiusmisuod tempor incididunt labore dolore ma alaeiqua enim ade minim veniam quis nostr xecitation ullamcoaris nisi ut aliquipa extaea coedmmmodo equate irure dolawor in reprehenderit.
                                            </p>
                                        </div>
                                        <div class="wt-likeunlike">
                                            <span>Did you find this useful?</span>
                                            <a href="javascript:void(0);" class="wt-like"><i class="fa fa-thumbs-up"></i></a>
                                            <a href="javascript:void(0);" class="wt-unlike"><i class="fa fa-thumbs-down"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="wt-accordiontitle collapsed" id="headingthree6" data-toggle="collapse" data-target="#collapsethree6">
                                        <span>Eiusmod tempor incididunt ut labore et dolore magna aliqua?</span>
                                    </div>
                                    <div class="wt-accordiondetails collapse" id="collapsethree6" aria-labelledby="headingthree6">
                                        <div class="wt-title">
                                            <h3>Eiusmod tempor incididunt ut labore et dolore magna aliqua?</h3>
                                        </div>
                                        <div class="wt-description">
                                            <p>
                                                Consectetur adipisicing elit sed aeiusmisuod tempor incididunt labore dolore ma alaeiqua enim ade minim veniam quis nostr xecitation ullamcoaris nisi ut aliquipa extaea coedmmmodo equate irure dolawor in reprehenderit.
                                            </p>
                                        </div>
                                        <div class="wt-likeunlike">
                                            <span>Did you find this useful?</span>
                                            <a href="javascript:void(0);" class="wt-like"><i class="fa fa-thumbs-up"></i></a>
                                            <a href="javascript:void(0);" class="wt-unlike"><i class="fa fa-thumbs-down"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="wt-accordiontitle collapsed" id="headingtwo7" data-toggle="collapse" data-target="#collapsetwo7">
                                        <span>Ways to work online and earn money?</span>
                                    </div>
                                    <div class="wt-accordiondetails collapse" id="collapsetwo7" aria-labelledby="headingtwo7">
                                        <div class="wt-title">
                                            <h3>Ways to work online and earn money?</h3>
                                        </div>
                                        <div class="wt-description">
                                            <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore eta dolore magnam aliqua. Ut enim ad minim veniam, quis nostrud <a href="javascript:void(0);">exercitation ullamco </a> laboris nisi ut aliquiprex ea commodo consequat eta dolore magna aliqua.</p>
                                        </div>
                                        <div class="wt-likeunlike">
                                            <span>Did you find this useful?</span>
                                            <a href="javascript:void(0);" class="wt-like"><i class="fa fa-thumbs-up"></i></a>
                                            <a href="javascript:void(0);" class="wt-unlike"><i class="fa fa-thumbs-down"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="wt-accordiontitle collapsed" id="headingtwo8" data-toggle="collapse" data-target="#collapsetwo8">
                                        <span>Dolore magna aliqua enim ad minim veniam?</span>
                                    </div>
                                    <div class="wt-accordiondetails collapse" id="collapsetwo8" aria-labelledby="headingtwo8">
                                        <div class="wt-title">
                                            <h3>Dolore magna aliqua enim ad minim veniam?</h3>
                                        </div>
                                        <div class="wt-description">
                                            <p>
                                                Consectetur adipisicing elit sed aeiusmisuod tempor incididunt labore dolore ma alaeiqua enim ade minim veniam quis nostr xecitation ullamcoaris nisi ut aliquipa extaea coedmmmodo equate irure dolawor in reprehenderit.
                                            </p>
                                        </div>
                                        <div class="wt-likeunlike">
                                            <span>Did you find this useful?</span>
                                            <a href="javascript:void(0);" class="wt-like"><i class="fa fa-thumbs-up"></i></a>
                                            <a href="javascript:void(0);" class="wt-unlike"><i class="fa fa-thumbs-down"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="wt-accordiontitle collapsed" id="headingthree8" data-toggle="collapse" data-target="#collapsethree8">
                                        <span>Eiusmod tempor incididunt ut labore et dolore magna aliqua?</span>
                                    </div>
                                    <div class="wt-accordiondetails collapse" id="collapsethree8" aria-labelledby="headingthree8">
                                        <div class="wt-title">
                                            <h3>Eiusmod tempor incididunt ut labore et dolore magna aliqua?</h3>
                                        </div>
                                        <div class="wt-description">
                                            <p>
                                                Consectetur adipisicing elit sed aeiusmisuod tempor incididunt labore dolore ma alaeiqua enim ade minim veniam quis nostr xecitation ullamcoaris nisi ut aliquipa extaea coedmmmodo equate irure dolawor in reprehenderit.
                                            </p>
                                        </div>
                                        <div class="wt-likeunlike">
                                            <span>Did you find this useful?</span>
                                            <a href="javascript:void(0);" class="wt-like"><i class="fa fa-thumbs-up"></i></a>
                                            <a href="javascript:void(0);" class="wt-unlike"><i class="fa fa-thumbs-down"></i></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-6 float-left">
                <div class="wt-dashboardbox wt-holdersolution">
                    <div class="wt-dashboardboxtitle">
                        <h2>Didn't Find Your Solution?</h2>
                    </div>
                    <div class="wt-dashboardboxcontent wt-querycontent">
                        <div class="wt-tabscontenttitle">
                            <h2>Ask Your Query</h2>
                        </div>
                        <form class="wt-formtheme wt-userform">
                            <fieldset>
                                <div class="form-group">
                                    <span class="wt-select">
                                        <select>
                                            <option value="" disabled="">Select Query Type</option>
                                            <option value="">Query</option>
                                            <option value="">Query Type</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="Query Description"></textarea>
                                </div>
                                <div class="form-group form-group-half wt-btnarea">
                                    <a href="javascript:void(0);" class="wt-btn">Submit</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Register Form End-->
</main>
<!--Main End-->