<!--Inner Home Banner Start-->
<div class="wt-haslayout wt-innerbannerholder">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                <div class="wt-innerbannercontent">
                <div class="wt-title"><h2>Terms &amp; Conditions</h2></div>
                <ol class="wt-breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="wt-active">Terms &amp; Conditions</li>
                </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Inner Home End-->
<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
    <!--Two Columns Start-->
    <div class="wt-haslayout wt-main-section">
        <div class="container">
            <div class="row">
                <div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 float-left">
                        <aside id="wt-sidebar" class="wt-sidebar">
                            <div class="wt-widget wt-effectiveholder">
                                <div class="wt-widgettitle">
                                    <h2>Effective T&amp;C</h2>
                                </div>
                                <div class="wt-widgetcontent">
                                    <ul class="wt-effectivecontent">
                                        <li><a href="javascript:void(0);">Adipisicing elit sed do eiusmod</a></li>
                                        <li><a href="javascript:void(0);">Tempor incididunt</a></li>
                                        <li><a href="javascript:void(0);">How To Submit Claim Report</a></li>
                                        <li><a href="javascript:void(0);">Ut enim ad minim veniam</a></li>
                                        <li><a href="javascript:void(0);">Quis nostrud exercitation</a></li>
                                        <li><a href="javascript:void(0);">Ullamco laboris nisiut</a></li>
                                        <li><a href="javascript:void(0);">Aliquip ex ea commodo</a></li>
                                        <li><a href="javascript:void(0);">Consequat duis aute</a></li>
                                        <li><a href="javascript:void(0);">Irure dolorin</a></li>
                                        <li><a href="javascript:void(0);">Reprehenderit</a></li>
                                        <li><a href="javascript:void(0);">Voluptate velit esse cillum</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 float-left">
                        <div class="wt-submitreportholder wt-bgwhite">
                            <div class="wt-titlebar">
                                <h2>How To Submit Claim Report</h2>
                            </div>
                            <div class="wt-reportdescription">
                                <div class="wt-description">
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a href="javascrip:void(0);"> exercitation ullamco laboris</a> nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut <a href="javascrip:void(0);"> perspiciatis unde</a> omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia magnam aliquam quaerat voluptatem.</p>
                                </div>
                                <div class="wt-title">
                                    <h3>Step #01</h3>
                                </div>
                                <div class="wt-description">
                                    <p>Aliquip ex ea commodo consequat. Duis aute irure ( <i class="fa fa-user-circle-o"></i> ) dolor in reprehenderit voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <p>Voluptatem accusantium doloremque ( <i class="fa fa-window-close-o"></i> ) laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    <p>Odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia ( <i class="fa fa-save"></i> ) dolor sit amet consectetur, adipisci velit, sed quia magnam aliquam quaerat voluptatem.</p>
                                </div>
                                <div class="wt-title">
                                    <h3>Step #02</h3>
                                </div>
                                <div class="wt-description">
                                    <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    <p>Consequuntur magni dolores ( <i class="fa fa-share-square"></i> ) eios qui ratione voluptatem sequi nesciunt. Nequerro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia magnam aliquam quaerat voluptatem.</p>
                                </div>
                                <div class="wt-title">
                                    <h3>Step #03</h3>
                                </div>
                                <div class="wt-description">
                                    <p>Dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit ( <i class="fa fa-paper-plane"></i> ) amet consectetur adipisci velit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Two Columns End-->
</main>
<!--Main End-->