<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout">
    <!--Sidebar Start-->
    <div id="wt-sidebarwrapper" class="wt-sidebarwrapper">
        <div id="wt-btnmenutoggle" class="wt-btnmenutoggle">
            <span class="menu-icon">
                <em></em>
                <em></em>
                <em></em>
            </span>
        </div>
        <div id="wt-verticalscrollbar" class="wt-verticalscrollbar">
            <div class="wt-companysdetails wt-usersidebar">
                <figure class="wt-companysimg">
                    <img src="./assets/images/sidebar/img-01.jpg" alt="img description">
                </figure>
                <div class="wt-companysinfo">
                    <figure><img src="./assets/images/sidebar/img-02.jpg" alt="img description"></figure>
                    <div class="wt-title">
                        <h2><a href="javascript:void(0);"> Louanne Mattioli</a></h2>
                        <span>Amento Tech</span>
                    </div>
                    <div class="wt-btnarea"><a href="dashboard-postjob.html" class="wt-btn">Post a Job</a></div>
                </div>
            </div>
            <nav id="wt-navdashboard" class="wt-navdashboard">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="javascript:void(0);">
                            <i class="ti-dashboard"></i>
                            <span>Insights</span>
                        </a>
                        <ul class="sub-menu">
                            <li><hr><a href="dashboard-insights.html">Insights</a></li>
                            <li><hr><a href="dashboard-insightsuser.html">Insights User</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="dashboard-profile.html">
                            <i class="ti-briefcase"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="javascript:void(0);">
                            <i class="ti-package"></i>
                            <span>All Jobs</span>
                        </a>
                        <ul class="sub-menu">
                            <li><hr><a href="dashboard-completejobs.html">Completed Jobs</a></li>
                            <li><hr><a href="dashboard-canceljobs.html">Cancelled Jobs</a></li>
                            <li><hr><a href="dashboard-ongoingjob.html">Ongoing Jobs</a></li>
                            <li><hr><a href="dashboard-ongoingsingle.html">Ongoing Single</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="dashboard-managejobs.html">
                            <i class="ti-announcement"></i>
                            <span>Manage Jobs</span>
                        </a>
                    </li>
                    <li class="wt-notificationicon menu-item-has-children">
                        <a href="javascript:void(0);">
                            <i class="ti-pencil-alt"></i>
                            <span>Messages</span>
                        </a>
                        <ul class="sub-menu">
                            <li><hr><a href="dashboard-messages.html">Messages</a></li>
                            <li><hr><a href="dashboard-messages2.html">Messages V 2</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="dashboard-saveitems.html">
                            <i class="ti-heart"></i>
                            <span>My Saved Items</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-invocies.html">
                            <i class="ti-file"></i>
                            <span>Invoices</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-category.html">
                            <i class="ti-layers"></i>
                            <span>Category</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-packages.html">
                            <i class="ti-money"></i>
                            <span>Packages</span>
                        </a>
                    </li>
                    <li class="wt-active">
                        <a href="dashboard-proposals.html">
                            <i class="ti-bookmark-alt"></i>
                            <span>Proposals</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-accountsettings.html">
                            <i class="ti-anchor"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-helpsupport.html">
                            <i class="ti-tag"></i>
                            <span>Help &amp; Support</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="ti-shift-right"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="wt-navdashboard-footer">
                <span>Worktern. © 2019 All Rights Reserved.</span>
            </div>
        </div>
    </div>
    <!--Sidebar Start-->
    <!--Register Form Start-->
    <section class="wt-haslayout wt-dbsectionspace">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
                <div class="wt-dashboardbox">
                    <div class="wt-dashboardboxtitle">
                        <h2>Job Details</h2>
                    </div>
                    <div class="wt-dashboardboxcontent wt-jobdetailsholder">
                        <div class="wt-freelancerholder wt-tabsinfo">
                            <div class="wt-tabscontenttitle">
                                <h2>Hired Freelancer</h2>
                            </div>
                            <div class="wt-jobdetailscontent">
                                <div class="wt-userlistinghold wt-featured wt-userlistingvtwo">
                                    <span class="wt-featuredtag"><img src="./assets/images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Alfredo Bossard
                                                </a>
                                                <h2>Classifieds Posting, Data Entry, Typing</h2>
                                            </div>
                                            <ul class="wt-userlisting-breadcrumb">
                                                <li><span><i class="far fa-money-bill-alt"></i> $44.00 / hr</span></li>
                                                <li><span><img src="./assets/images/flag/img-02.png" alt="img description">  United States</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksave"><i class="fa fa-heart"></i> Save</a></li>
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <div class="wt-hireduserstatus">
                                                <h4>Hired</h4><span>Terrence Tynan</span>
                                                <ul class="wt-hireduserimgs">
                                                    <li><figure><img src="./assets/images/user/userlisting/img-01.jpg" alt="img description"></figure></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </div>
                        <div class="wt-rcvproposalholder wt-hiredfreelancer wt-tabsinfo">
                            <div class="wt-tabscontenttitle">
                                <h2>Hired Freelancer</h2>
                            </div>
                            <div class="wt-jobdetailscontent">
                                <div class="wt-userlistinghold wt-featured wt-proposalitem">
                                    <span class="wt-featuredtag"><img src="./assets/images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style mCS_img_loaded"></span>
                                    <figure class="wt-userlistingimg">
                                        <img src="./assets/images/user/userlisting/img-01.jpg" alt="image description" class="mCS_img_loaded">
                                    </figure>
                                    <div class="wt-proposaldetails">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"> Alfredo Bossard</a>
                                            </div>
                                        </div>
                                        <div class="wt-proposalfeedback">
                                            <span class="wt-starsvtwo">
                                                <i class="fa fa-star fill"></i>
                                            </span>
                                            <span class="wt-starcontent"> 4.5/<i>5</i> <em> (860 Feedback)</em></span>
                                        </div>													
                                    </div>
                                    <div class="wt-rightarea wt-titlewithsearch">
                                        <form class="wt-formtheme wt-formsearch">
                                            <fieldset>
                                                <div class="form-group">
                                                    <span class="wt-select">
                                                        <select>
                                                            <option value="" disabled="">Project Status</option>
                                                            <option value="">Project Status</option>
                                                            <option value="">Project Status</option>
                                                        </select>
                                                    </span>
                                                    <a href="javascrip:void(0);" class="wt-searchgbtn" data-toggle="modal" data-target="#wt-projectmodalbox"><i class="fa fa-check"></i></a>
                                                </div>
                                            </fieldset>
                                        </form>
                                        <div class="wt-hireduserstatus">
                                            <h5>&#36;30</h5>
                                            <span>In 02 Months</span>
                                        </div>
                                        <div class="wt-hireduserstatus">
                                            <i class="far fa-envelope"></i>
                                            <span>Cover Letter</span>
                                        </div>														
                                        <div class="wt-hireduserstatus">
                                            <i class="fa fa-paperclip"></i>
                                            <span>03 file attached</span>
                                        </div>														
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wt-projecthistory">
                            <div class="wt-tabscontenttitle">
                                <h2>Project History</h2>
                            </div>
                            <div class="wt-historycontent">
                                <ul id="accordion" class="wt-historycontentcol">
                                    <li class="wt-historycolhead">
                                        <h3><span>Date</span><span>Message</span><span>Attachment</span></h3>
                                    </li>
                                    <li class="collapsed" data-toggle="collapse" data-target="#collapseone">
                                        <div class="wt-dateandmsg">
                                            <span><img src="./assets/images/user/ongoing/img-01.jpg" alt="img description">Jun 27, 2019</span>
                                            <span>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim sed</span>
                                        </div>
                                        <div class="wt-rightarea wt-msgbtns">
                                            <a href="javascript:void(0);" class="wt-btn wt-msgbtn"><i class="lnr lnr-chevron-up"></i>Message</a>
                                            <a href="javascript:void(0);" class="wt-btn wt-attachmentbtn"><i class="lnr lnr-download"></i>Attachment</a>
                                        </div>
                                    </li>
                                    <li class="wt-historydescription collapse active fade show" id="collapseone" data-parent="#accordion">
                                        <div class="wt-description">
                                            <p>Adipisicing elit sed do eiusmod tempor incididunt ut labore eta dolore magnam aliqua. Ut enim ad minim veniam, qu nostrud exercitation ullamco laboris nisi ut aliquiprex ea commodo consequat eta dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillumau dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident, sunt in culpa quiste officia deserunt mollit anim id est laborum. Sed uten perspiciatis unde omnis istetam natus error sit voluptatem accusantium doloremque laudantium.</p>
                                        </div>
                                    </li>
                                    <li class="collapsed" data-toggle="collapse" data-target="#collapsetwo">
                                        <div class="wt-dateandmsg">
                                            <span><img src="./assets/images/user/ongoing/img-02.jpg" alt="img description">Jun 27, 2019</span>
                                            <span>Adipisicing elit sed do eiusmod tempor incididunt ut labore eta dolore  eiusmod tempor incididunt ut labore eta dolore magnam aliqua.</span>
                                        </div>
                                        <div class="wt-rightarea wt-msgbtns">
                                            <a href="javascript:void(0);" class="wt-btn wt-msgbtn"><i class="lnr lnr-chevron-up"></i>Message</a>
                                            <a href="javascript:void(0);" class="wt-btn wt-attachmentbtn"><i class="lnr lnr-download"></i>Attachment</a>
                                        </div>
                                    </li>
                                    <li class="wt-historydescription collapse" id="collapsetwo" data-parent="#accordion">
                                        <div class="wt-description">
                                            <p>Adipisicing elit sed do eiusmod tempor incididunt ut labore eta dolore magnam aliqua. Ut enim ad minim veniam, qu nostrud exercitation ullamco laboris nisi ut aliquiprex ea commodo consequat eta dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillumau dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident, sunt in culpa quiste officia deserunt mollit anim id est laborum. Sed uten perspiciatis unde omnis istetam natus error sit voluptatem accusantium doloremque laudantium.</p>
                                        </div>
                                    </li>
                                    <li class="collapsed" data-toggle="collapse" data-target="#collapsethree">
                                        <div class="wt-dateandmsg">
                                            <span><img src="./assets/images/user/ongoing/img-01.jpg" alt="img description">Jun 27, 2019</span>
                                            <span>Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aut irure dolo</span>
                                        </div>
                                        <div class="wt-rightarea wt-msgbtns">
                                            <a href="javascript:void(0);" class="wt-btn wt-msgbtn"><i class="lnr lnr-chevron-up"></i>Message</a>
                                            <a href="javascript:void(0);" class="wt-btn wt-attachmentbtn"><i class="lnr lnr-download"></i>Attachment</a>
                                        </div>
                                    </li>
                                    <li class="wt-historydescription collapse" id="collapsethree" data-parent="#accordion">
                                        <div class="wt-description">
                                            <p>Adipisicing elit sed do eiusmod tempor incididunt ut labore eta dolore magnam aliqua. Ut enim ad minim veniam, qu nostrud exercitation ullamco laboris nisi ut aliquiprex ea commodo consequat eta dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillumau dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident, sunt in culpa quiste officia deserunt mollit anim id est laborum. Sed uten perspiciatis unde omnis istetam natus error sit voluptatem accusantium doloremque laudantium.</p>
                                        </div>
                                    </li>
                                    <li class="collapsed" data-toggle="collapse" data-target="#collapsefour">
                                        <div class="wt-dateandmsg">
                                            <span><img src="./assets/images/user/ongoing/img-02.jpg" alt="img description">Jun 27, 2019</span>
                                            <span>Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur sint occaecat cupidat nonproid</span>
                                        </div>
                                        <div class="wt-rightarea wt-msgbtns">
                                            <a href="javascript:void(0);" class="wt-btn wt-msgbtn"><i class="lnr lnr-chevron-up"></i>Message</a>
                                            <a href="javascript:void(0);" class="wt-btn wt-attachmentbtn"><i class="lnr lnr-download"></i>Attachment</a>
                                        </div>
                                    </li>
                                    <li class="wt-historydescription collapse" id="collapsefour" data-parent="#accordion">
                                        <div class="wt-description">
                                            <p>Adipisicing elit sed do eiusmod tempor incididunt ut labore eta dolore magnam aliqua. Ut enim ad minim veniam, qu nostrud exercitation ullamco laboris nisi ut aliquiprex ea commodo consequat eta dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillumau dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident, sunt in culpa quiste officia deserunt mollit anim id est laborum. Sed uten perspiciatis unde omnis istetam natus error sit voluptatem accusantium doloremque laudantium.</p>
                                        </div>
                                    </li>
                                </ul>
                                <form class="wt-formtheme wt-userform">
                                    <fieldset>
                                        <div class="form-group">
                                            <textarea id="wt-tinymceeditor" class="wt-tinymceeditor" placeholder="Add Job Detail Here"></textarea>
                                        </div>
                                        <div class="form-group form-group-label">
                                            <div class="wt-labelgroup">
                                                <label for="file">
                                                    <span class="wt-btn">Select Files</span>
                                                    <input type="file" name="file" id="file">
                                                </label>
                                                <span>Drop files here to upload</span>
                                                <em class="wt-fileuploading">Uploading<i class="fa fa-spinner fa-spin"></i></em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <ul class="wt-attachfile">
                                                <li class="wt-uploading">
                                                    <span class="uploadprogressbar"></span>
                                                    <span>Category Icon.jpg</span>
                                                    <em>File size: 450 kb<a href="javascript:void(0);" class="lnr lnr-cross"></a></em>
                                                </li>
                                                <li>
                                                    <span class="uploadprogressbar"></span>
                                                    <span>requirments.pdf</span>
                                                    <em>File size: 300 kb<a href="javascript:void(0);" class="lnr lnr-cross"></a></em>
                                                </li>
                                                <li>
                                                    <span class="uploadprogressbar"></span>
                                                    <span>company Intro.docx</span>
                                                    <em>File size: 100 kb<a href="javascript:void(0);" class="lnr lnr-cross"></a></em>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="form-group wt-btnarea">
                                            <a href="javascript:void(0);" class="wt-btn">Send Now</a>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            </div>
        </div>
    </section>
    <!--Register Form End-->
</main>
<!--Main End-->	