<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout">
    <!--Sidebar Start-->
    <div id="wt-sidebarwrapper" class="wt-sidebarwrapper">
        <div id="wt-btnmenutoggle" class="wt-btnmenutoggle">
            <span class="menu-icon">
                <em></em>
                <em></em>
                <em></em>
            </span>
        </div>
        <div id="wt-verticalscrollbar" class="wt-verticalscrollbar">
            <div class="wt-companysdetails wt-usersidebar">
                <figure class="wt-companysimg">
                    <img src="./assets/./assets/images/sidebar/img-01.jpg" alt="img description">
                </figure>
                <div class="wt-companysinfo">
                    <figure><img src="./assets/./assets/images/sidebar/img-02.jpg" alt="img description"></figure>
                    <div class="wt-title">
                        <h2><a href="javascript:void(0);"> Louanne Mattioli</a></h2>
                        <span>Amento Tech</span>
                    </div>
                    <div class="wt-btnarea"><a href="dashboard-postjob.html" class="wt-btn">Post a Job</a></div>
                </div>
            </div>
            <nav id="wt-navdashboard" class="wt-navdashboard">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="javascript:void(0);">
                            <i class="ti-dashboard"></i>
                            <span>Insights</span>
                        </a>
                        <ul class="sub-menu">
                            <li><hr><a href="dashboard-insights.html">Insights</a></li>
                            <li><hr><a href="dashboard-insightsuser.html">Insights User</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="dashboard-profile.html">
                            <i class="ti-briefcase"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="javascript:void(0);">
                            <i class="ti-package"></i>
                            <span>All Jobs</span>
                        </a>
                        <ul class="sub-menu">
                            <li><hr><a href="dashboard-completejobs.html">Completed Jobs</a></li>
                            <li><hr><a href="dashboard-canceljobs.html">Cancelled Jobs</a></li>
                            <li><hr><a href="dashboard-ongoingjob.html">Ongoing Jobs</a></li>
                            <li><hr><a href="dashboard-ongoingsingle.html">Ongoing Single</a></li>
                        </ul>
                    </li>
                    <li class="wt-active">
                        <a href="dashboard-managejobs.html">
                            <i class="ti-announcement"></i>
                            <span>Manage Jobs</span>
                        </a>
                    </li>
                    <li class="wt-notificationicon menu-item-has-children">
                        <a href="javascript:void(0);">
                            <i class="ti-pencil-alt"></i>
                            <span>Messages</span>
                        </a>
                        <ul class="sub-menu">
                            <li><hr><a href="dashboard-messages.html">Messages</a></li>
                            <li><hr><a href="dashboard-messages2.html">Messages V 2</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="dashboard-saveitems.html">
                            <i class="ti-heart"></i>
                            <span>My Saved Items</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-invocies.html">
                            <i class="ti-file"></i>
                            <span>Invoices</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-category.html">
                            <i class="ti-layers"></i>
                            <span>Category</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-packages.html">
                            <i class="ti-money"></i>
                            <span>Packages</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-proposals.html">
                            <i class="ti-bookmark-alt"></i>
                            <span>Proposals</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-accountsettings.html">
                            <i class="ti-anchor"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-helpsupport.html">
                            <i class="ti-tag"></i>
                            <span>Help &amp; Support</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="ti-shift-right"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="wt-navdashboard-footer">
                <span>Worktern. © 2019 All Rights Reserved.</span>
            </div>
        </div>
    </div>
    <!--Sidebar Start-->
    <!--Register Form Start-->
    <section class="wt-haslayout wt-dbsectionspace">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
                <div class="wt-dashboardbox">
                    <div class="wt-dashboardboxtitle">
                        <h2>Manage Jobs</h2>
                    </div>
                    <div class="wt-dashboardboxcontent wt-jobdetailsholder">
                        <div class="wt-freelancerholder">
                            <div class="wt-tabscontenttitle">
                                <h2>Posted Jobs</h2>
                            </div>
                            <div class="wt-managejobcontent wt-verticalscrollbar">
                                <div class="wt-userlistinghold wt-featured wt-userlistingvtwo">
                                    <span class="wt-featuredtag"><img src="./assets/./assets/images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Louanne Mattioli
                                                </a>
                                                <h2>Translation and Proof Reading (Multi Language)</h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> Professional</span></li>
                                                <li><span><img src="./assets/images/flag/img-04.png" alt="img description"> England</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: Per Fixed</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: 15 Days</span></li>															
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <div class="wt-btnarea">
                                                <a href="javascript:void(0);" class="wt-btn">VIEW DETAILS</a>
                                            </div>
                                            <div class="wt-hireduserstatus">
                                                <h4>01</h4><span>Proposals</span>
                                                <ul class="wt-hireduserimgs">
                                                    <li><figure><img src="./assets/images/user/userlisting/img-05.jpg" alt="img description"></figure></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                                <div class="wt-userlistinghold wt-featured wt-userlistingvtwo">
                                    <span class="wt-featuredtag"><img src="./assets/images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Louanne Mattioli
                                                </a>
                                                <h2>Develop a transportation company website </h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> Professional</span></li>
                                                <li><span><img src="./assets/images/flag/img-04.png" alt="img description"> England</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: Per Fixed</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: 15 Days</span></li>															
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <div class="wt-btnarea">
                                                <a href="javascript:void(0);" class="wt-btn">VIEW DETAILS</a>
                                            </div>
                                            <div class="wt-hireduserstatus">
                                                <h4>04</h4><span>Proposals</span>
                                                <ul class="wt-hireduserimgs">
                                                    <li><figure><img src="./assets/images/user/userlisting/img-05.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-01.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-02.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-03.jpg" alt="img description"></figure></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                                <div class="wt-userlistinghold wt-featured wt-userlistingvtwo">
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Louanne Mattioli
                                                </a>
                                                <h2>Change temp to Arabic and install on wordpress</h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> Professional</span></li>
                                                <li><span><img src="./assets/images/flag/img-04.png" alt="img description"> England</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: Per Fixed</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: 15 Days</span></li>															
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <div class="wt-btnarea">
                                                <a href="javascript:void(0);" class="wt-btn">VIEW DETAILS</a>
                                            </div>
                                            <div class="wt-hireduserstatus">
                                                <h4>150</h4><span>Proposals</span>
                                                <ul class="wt-hireduserimgs">
                                                    <li><figure><img src="./assets/images/user/userlisting/img-05.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-01.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-02.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-03.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-01.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-02.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-05.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-01.jpg" alt="img description"></figure></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                                <div class="wt-userlistinghold wt-featured wt-userlistingvtwo">
                                    <span class="wt-featuredtag"><img src="./assets/images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Louanne Mattioli
                                                </a>
                                                <h2>Develop a transportation company website </h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> Professional</span></li>
                                                <li><span><img src="./assets/images/flag/img-04.png" alt="img description"> England</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: Per Fixed</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: 15 Days</span></li>															
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <div class="wt-btnarea">
                                                <a href="javascript:void(0);" class="wt-btn">VIEW DETAILS</a>
                                            </div>
                                            <div class="wt-hireduserstatus">
                                                <h4>06</h4><span>Proposals</span>
                                                <ul class="wt-hireduserimgs">
                                                    <li><figure><img src="./assets/images/user/userlisting/img-05.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-01.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-02.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-03.jpg" alt="img description"></figure></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                                <div class="wt-userlistinghold wt-featured wt-userlistingvtwo">
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Louanne Mattioli
                                                </a>
                                                <h2>Website changes in HTML & PHP</h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> Professional</span></li>
                                                <li><span><img src="./assets/images/flag/img-04.png" alt="img description"> England</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: Per Fixed</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: 15 Days</span></li>															
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <div class="wt-btnarea">
                                                <a href="javascript:void(0);" class="wt-btn">VIEW DETAILS</a>
                                            </div>
                                            <div class="wt-hireduserstatus">
                                                <h4>243</h4><span>Proposals</span>
                                                <ul class="wt-hireduserimgs">
                                                    <li><figure><img src="./assets/images/user/userlisting/img-05.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-01.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-02.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-03.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-01.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-02.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-05.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-01.jpg" alt="img description"></figure></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>	
                                </div>	
                                <div class="wt-userlistinghold wt-featured wt-userlistingvtwo">
                                    <span class="wt-featuredtag"><img src="./assets/images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Louanne Mattioli
                                                </a>
                                                <h2>Develop a transportation company website </h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> Professional</span></li>
                                                <li><span><img src="./assets/images/flag/img-04.png" alt="img description"> England</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: Per Fixed</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: 15 Days</span></li>															
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <div class="wt-btnarea">
                                                <a href="javascript:void(0);" class="wt-btn">VIEW DETAILS</a>
                                            </div>
                                            <div class="wt-hireduserstatus">
                                                <h4>04</h4><span>Proposals</span>
                                                <ul class="wt-hireduserimgs">
                                                    <li><figure><img src="./assets/images/user/userlisting/img-05.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-01.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-02.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-03.jpg" alt="img description"></figure></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                                <div class="wt-userlistinghold wt-featured wt-userlistingvtwo">
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Louanne Mattioli
                                                </a>
                                                <h2>Change temp to Arabic and install on wordpress</h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> Professional</span></li>
                                                <li><span><img src="./assets/images/flag/img-04.png" alt="img description"> England</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: Per Fixed</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: 15 Days</span></li>															
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <div class="wt-btnarea">
                                                <a href="javascript:void(0);" class="wt-btn">VIEW DETAILS</a>
                                            </div>
                                            <div class="wt-hireduserstatus">
                                                <h4>150</h4><span>Proposals</span>
                                                <ul class="wt-hireduserimgs">
                                                    <li><figure><img src="./assets/images/user/userlisting/img-05.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-01.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-02.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-03.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-01.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-02.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-05.jpg" alt="img description"></figure></li>
                                                    <li><figure><img src="./assets/images/user/userlisting/img-01.jpg" alt="img description"></figure></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>	
                                </div>	
                                <div class="wt-userlistinghold wt-featured wt-userlistingvtwo">
                                    <span class="wt-featuredtag"><img src="./assets/images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
                                    <div class="wt-userlistingcontent">
                                        <div class="wt-contenthead">
                                            <div class="wt-title">
                                                <a href="usersingle.html"><i class="fa fa-check-circle"></i> Louanne Mattioli
                                                </a>
                                                <h2>Translation and Proof Reading (Multi Language)</h2>
                                            </div>
                                            <ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
                                                <li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> Professional</span></li>
                                                <li><span><img src="./assets/images/flag/img-04.png" alt="img description"> England</span></li>
                                                <li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Type: Per Fixed</a></li>
                                                <li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: 15 Days</span></li>															
                                            </ul>
                                        </div>
                                        <div class="wt-rightarea">
                                            <div class="wt-btnarea">
                                                <a href="javascript:void(0);" class="wt-btn">VIEW DETAILS</a>
                                            </div>
                                            <div class="wt-hireduserstatus">
                                                <h4>01</h4><span>Proposals</span>
                                                <ul class="wt-hireduserimgs">
                                                    <li><figure><img src="./assets/images/user/userlisting/img-05.jpg" alt="img description"></figure></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="wt-pagination wt-savepagination">
                        <ul>
                            <li class="wt-prevpage"><a href="javascrip:void(0);"><i class="lnr lnr-chevron-left"></i></a></li>
                            <li><a href="javascrip:void(0);">1</a></li>
                            <li><a href="javascrip:void(0);">2</a></li>
                            <li><a href="javascrip:void(0);">3</a></li>
                            <li><a href="javascrip:void(0);">4</a></li>
                            <li><a href="javascrip:void(0);">...</a></li>
                            <li><a href="javascrip:void(0);">50</a></li>
                            <li class="wt-nextpage"><a href="javascrip:void(0);"><i class="lnr lnr-chevron-right"></i></a></li>
                        </ul>
                    </nav>								
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
                <aside id="wt-sidebar" class="wt-sidebar wt-dashboardsave">
                    <div class="wt-proposalsr">
                        <div class="wt-proposalsrcontent">
                            <figure>
                                <img src="./assets/images/thumbnail/img-17.png" alt="image">
                            </figure>
                            <div class="wt-title">
                                <h3>150</h3>
                                <span>Total Ongoing Jobs</span>
                            </div>
                        </div> 
                    </div>
                    <div class="wt-proposalsr">
                        <div class="wt-proposalsrcontent wt-componyfolow">
                            <figure>
                                <img src="./assets/images/thumbnail/img-16.png" alt="image">
                            </figure>
                            <div class="wt-title">
                                <h3>1406</h3>
                                <span>Total Completed Jobs</span>
                            </div>
                        </div> 
                    </div>								
                    <div class="wt-proposalsr">
                        <div class="wt-proposalsrcontent  wt-freelancelike">
                            <figure>
                                <img src="./assets/images/thumbnail/img-15.png" alt="image">
                            </figure>
                            <div class="wt-title">
                                <h3>2075</h3>
                                <span>Total Cancelled Jobs</span>
                            </div>
                        </div> 
                    </div>								
                </aside>
                <div class="wt-companyad">
                    <figure class="wt-companyadimg"><img src="./assets/images/add-img.jpg" alt="img description"></figure>
                    <span>Advertisement  255px X 255px</span>
                </div>
            </div>
        </div>
    </section>
    <!--Register Form End-->
</main>
<!--Main End-->