<!--Inner Home Banner Start-->
<div class="wt-haslayout wt-innerbannerholder">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                <div class="wt-innerbannercontent">
                <div class="wt-title"><h2>Join Now For FREE</h2></div>
                <ol class="wt-breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="wt-active">Join Now</li>
                </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Inner Home End-->
<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
    <!--Register Form Start-->
    <div class="wt-haslayout wt-main-section">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-xs-12 col-sm-12 col-md-10 push-md-1 col-lg-8 push-lg-2">
                    <div class="wt-registerformhold">
                        <div class="wt-registerformmain">
                            <div class="wt-registerhead">
                                <div class="wt-title">
                                    <h3>Join For a Good Start</h3>
                                </div>
                                <div class="wt-description">
                                    <p>Consectetur adipisicing elit sed dotem eiusmod tempor incune utnaem labore etdolore maigna aliqua enim poskina</p>
                                </div>
                            </div>
                            <div class="wt-joinforms">
                                <ul class="wt-joinsteps">
                                    <li class="wt-active"><a href="javascrip:void(0);">01</a></li>
                                    <li><a href="javascrip:void(0);">02</a></li>
                                    <li><a href="javascrip:void(0);">03</a></li>
                                    <li><a href="javascrip:void(0);">04</a></li>
                                </ul>
                                <form class="wt-formtheme wt-formregister">
                                    <fieldset class="wt-registerformgroup">
                                        <div class="form-group wt-form-group-dropdown form-group-half">
                                            <span class="wt-select">
                                                <select>
                                                    <option>mr.</option>
                                                    <option>mrs</option>
                                                </select>
                                            </span>
                                            <input type="text" name="First Name" class="form-control" placeholder="First Name">
                                        </div>
                                        <div class="form-group form-group-half">
                                            <input type="text" name="Last Name" class="form-control" placeholder="Last Name">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="Email" class="form-control" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <a href="register-02.html" class="wt-btn">Start Now</a>
                                        </div>
                                    </fieldset>
                                </form>
                                <div class="wt-joinnowholder">
                                    <div class="wt-title">
                                        <h4>Join Now With</h4>
                                    </div>
                                    <div class="wt-description">
                                        <p>Use a social account for faster login or easy registration to directly get in to your account and start a good business</p>
                                    </div>
                                    <ul class="wt-socialicons wt-iconwithtext">
                                        <li class="wt-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i><em>Facebook</em></a>
                                        </li>
                                        <li class="wt-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i><em>Twitter</em></a></li>
                                        <li class="wt-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i><em>Google</em></a></li>
                                        <li class="wt-instagram"><a href="javascript:void(0);"><i class="fab fa-instagram"></i><em>Instagram</em></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="wt-registerformfooter">
                            <span>Already Have an Account? <a href="javascript:void(0);">Login Now</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Register Form End-->
</main>
<!--Main End-->