<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout">
    <!--Sidebar Start-->
    <div id="wt-sidebarwrapper" class="wt-sidebarwrapper">
        <div id="wt-btnmenutoggle" class="wt-btnmenutoggle">
            <span class="menu-icon">
                <em></em>
                <em></em>
                <em></em>
            </span>
        </div>
        <div id="wt-verticalscrollbar" class="wt-verticalscrollbar">
            <div class="wt-companysdetails wt-usersidebar">
                <figure class="wt-companysimg">
                    <img src="./assets/images/sidebar/img-01.jpg" alt="img description">
                </figure>
                <div class="wt-companysinfo">
                    <figure><img src="./assets/images/sidebar/img-02.jpg" alt="img description"></figure>
                    <div class="wt-title">
                        <h2><a href="javascript:void(0);"> Louanne Mattioli</a></h2>
                        <span>Amento Tech</span>
                    </div>
                    <div class="wt-btnarea"><a href="dashboard-postjob.html" class="wt-btn">Post a Job</a></div>
                </div>
            </div>
            <nav id="wt-navdashboard" class="wt-navdashboard">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="javascript:void(0);">
                            <i class="ti-dashboard"></i>
                            <span>Insights</span>
                        </a>
                        <ul class="sub-menu">
                            <li><hr><a href="dashboard-insights.html">Insights</a></li>
                            <li><hr><a href="dashboard-insightsuser.html">Insights User</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="dashboard-profile.html">
                            <i class="ti-briefcase"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="javascript:void(0);">
                            <i class="ti-package"></i>
                            <span>All Jobs</span>
                        </a>
                        <ul class="sub-menu">
                            <li><hr><a href="dashboard-completejobs.html">Completed Jobs</a></li>
                            <li><hr><a href="dashboard-canceljobs.html">Cancelled Jobs</a></li>
                            <li><hr><a href="dashboard-ongoingjob.html">Ongoing Jobs</a></li>
                            <li><hr><a href="dashboard-ongoingsingle.html">Ongoing Single</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="dashboard-managejobs.html">
                            <i class="ti-announcement"></i>
                            <span>Manage Jobs</span>
                        </a>
                    </li>
                    <li class="wt-notificationicon menu-item-has-children">
                        <a href="javascript:void(0);">
                            <i class="ti-pencil-alt"></i>
                            <span>Messages</span>
                        </a>
                        <ul class="sub-menu">
                            <li><hr><a href="dashboard-messages.html">Messages</a></li>
                            <li><hr><a href="dashboard-messages2.html">Messages V 2</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="dashboard-saveitems.html">
                            <i class="ti-heart"></i>
                            <span>My Saved Items</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-invocies.html">
                            <i class="ti-file"></i>
                            <span>Invoices</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-category.html">
                            <i class="ti-layers"></i>
                            <span>Category</span>
                        </a>
                    </li>
                    <li class="wt-active">
                        <a href="dashboard-packages.html">
                            <i class="ti-money"></i>
                            <span>Packages</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-proposals.html">
                            <i class="ti-bookmark-alt"></i>
                            <span>Proposals</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-accountsettings.html">
                            <i class="ti-anchor"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-helpsupport.html">
                            <i class="ti-tag"></i>
                            <span>Help &amp; Support</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="ti-shift-right"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="wt-navdashboard-footer">
                <span>Worktern. © 2019 All Rights Reserved.</span>
            </div>
        </div>
    </div>
    <!--Sidebar Start-->
    <!--Register Form Start-->
    <section class="wt-haslayout wt-dbsectionspace">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-left">
                <div class="wt-dashboardbox">
                    <div class="wt-dashboardboxtitle">
                        <h2>Packages</h2>
                    </div>
                    <div class="wt-dashboardboxcontent wt-packages">
                        <div class="wt-package wt-packagedetails">
                            <div class="wt-packagehead">
                            </div>
                            <div class="wt-packagecontent">
                                <ul class="wt-packageinfo">
                                    <li class="wt-packageprices"><span>Price</span></li>
                                    <li><span>No. Of Offer To Post</span></li>
                                    <li><span>No. Of Featured Jobs</span></li>
                                    <li><span>Package Duration</span></li>
                                    <li><span>Best Freelancer Search</span></li>
                                    <li><span>Professional Offer Template</span></li>
                                    <li><span>Free 07 Days Extension</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="wt-package wt-baiscpackage">
                            <div class="wt-packagehead">
                                <h3>Baisc Plan</h3>
                                <span>Starter Plan For Newbie</span>
                            </div>
                            <div class="wt-packagecontent">
                                <ul class="wt-packageinfo">
                                    <li class="wt-packageprice"><span><sup>$</sup>37<sub>\ Month</sub></span></li>
                                    <li><span>10</span></li>
                                    <li><span><i class="ti-na"></i></span></li>
                                    <li><span>30 Days</span></li>
                                    <li><span><i class="ti-check"></i></span></li>
                                    <li><span><i class="ti-na"></i></span></li>
                                    <li><span><i class="ti-na"></i></span></li>
                                </ul>
                                <a class="wt-btn" href="javascript:void(0);"><span>Buy Now</span></a>
                            </div>
                        </div>
                        <div class="wt-package wt-standardpackage">
                            <div class="wt-packagehead">
                                <span class="wt-featuredtag"><i class="fa fa-star"></i></span>
                                <h3>Standard</h3>
                                <span>Populor Plan For Professionals</span>
                                <em>24 Days Left</em>
                            </div>
                            <div class="wt-packagecontent">
                                <ul class="wt-packageinfo">
                                    <li class="wt-packageprice"><span><sup>$</sup>79<sub>\ Month</sub></span></li>
                                    <li><span>30</span></li>
                                    <li><span><i class="ti-check"></i></span></li>
                                    <li><span>30 Days</span></li>
                                    <li><span><i class="ti-check"></i></span></li>
                                    <li><span><i class="ti-na"></i></span></li>
                                    <li><span><i class="ti-na"></i></span></li>
                                </ul>
                                <a class="wt-btn" href="javascript:void(0);"><span>Buy Now</span></a>
                            </div>
                        </div>
                        <div class="wt-package wt-extendedpackage">
                            <div class="wt-packagehead">
                                <h3>Extended</h3>
                                <span>Extended Plan For Managerial</span>
                            </div>
                            <div class="wt-packagecontent">
                                <ul class="wt-packageinfo">
                                    <li class="wt-packageprice"><span><sup>$</sup>199<sub>\ Month</sub></span></li>
                                    <li><span>Unlimited</span></li>
                                    <li><span><i class="ti-check"></i></span></li>
                                    <li><span>30 Days</span></li>
                                    <li><span><i class="ti-check"></i></span></li>
                                    <li><span><i class="ti-check"></i></span></li>
                                    <li><span><i class="ti-check"></i></span></li>
                                </ul>
                                <a class="wt-btn" href="javascript:void(0);"><span>Buy Now</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Register Form End-->
</main>
<!--Main End-->	